<%- include ("partials/header",(Authenticated)); -%> 

    <div class="jumbotron text-center bg-dark text-light p-5">
      <h1 class="display-4">TechBlogs</h1>
      <p class="lead">A place where you can share your knowledge to others!</p>

      <% if (!Authenticated) { %>
      <a href="/register" class="btn btn-lg btn-light mx-2">Register</a>
      <a href="/login" class="btn btn-lg btn-outline-light">Login</a>
      <% } %>
    </div>
    <!-- home section starts -->

    <main class="container my-5">
      <% posts.forEach(post => { %>
      <div class="posts my-5 p-4 border shadow">
        <h3 class="main-header"><%= post.title %></h3>
        <small><%= post.date %> </small>
        <p>
          <%= post.post.slice(0,400) +"..."%>
          <a href="/post/<%= post.id %> ">Read more</a>
        </p>
        <p>Autor - <%= post.author%></p>
        
      </div>
      <% }) %>
    </main>

    <%- include("partials/footer"); -%>
  </body>
</html>
